.about-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 100px;
    
}

.about-container .intro-text {
    font-size: 24px;
    font-weight: bold;
}


.about-container .overview-text {
    font-size: 45px;
    font-weight: bold;
    min-width: 300px;
    
}

.about-container .overview-container {
    display: flex;
    flex-direction: row;

}


.module-img {
    height: 450px;
    min-width: 450px;
}

@media screen and (max-width: 600px) {
    .about-container {
        width: 100%;
        margin-top: 50px;
    }

    .about-container .overview-container {
        flex-direction: column;
    }

    
    .overview-typography {
        font-size: 1.8rem; /* Slightly smaller font for mobile */

        width: 95%;
        
    }

    .module-img {
        width: 100%; /* Make images responsive */
        height: auto; /* Adjust height automatically */
    }
}