/* Increase specificity */
.MuiAppBar-root.appBar {
    background-color: white;
    color: black;
    box-shadow: none;
}

.menuButton {
    margin-right: 2px;
}

.title {
    flex-grow: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 600px) {

    .appBar .menuButton {
        display: none; /* Hide the title on smaller screens */
    }
    .appBar .title {
        display: none; /* Hide the title on smaller screens */
    }

    .appBar{
        align-items: center;
    }

    .buttonContainer {
        flex-direction: row; 
        align-items: center; 
    }
}