.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container .projects-text {
    font-size: 45px;
    font-weight: bold;
}

.cc-container .title-text {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.project-gif {
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
}

.cc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.app-description {
    width: 800px;
    margin-top: 30px;
}

.eggtopia-container .title-text {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.eggtopia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.eggtopia-video-container {
    display: flex;
    flex-direction: row;
}

.button-container {
    align-self: center;
}

.icon-size .MuiSvgIcon-root {
    font-size: 10rem;
}


.gif-container {
    display: flex;
    flex-direction: row;
}

.p-video {
    height: auto;
    width: auto;
    align-self: center;
    
}



@media screen and (max-width: 600px) {
    .projects-container, .cc-container {
        width: 100%; /* Adjust width for smaller screens */
    }

    .projects-container .projects-text, 
    .cc-container .title-text, 
    .eggtopia-container .title-text {
        font-size: 30px; /* Reduce font size for smaller screens */
    }

    .app-description {
        width: 95%; /* Adjust width to fit mobile screens */
        margin: 10px; /* Adjust margins as needed */
    }

    .project-gif {
        width: 97%; /* Make GIFs responsive */
        height: auto; /* Adjust height automatically */
        max-width: 600px; /* Maximum width for GIFs */
        margin: 5px; /* Adjust margins for smaller screens */
    }
}
